<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="consolePattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %C-%m%n"/>
    <property name="filePattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %C-%m%n"/>

    <!--输出info级别的日志到控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${consolePattern}</Pattern>
        </encoder>
    </appender>
    <appender name="server_info_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${filePattern}</pattern>
        </encoder>
        <file>server_info_log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>server_info_log_%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="com" level="info" additivity="true">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="server_info_log"/>
    </logger>

    <!--输出流量统计信息-->
    <appender name="flowInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %C-%m%n</pattern>
        </encoder>
        <file>flowInfo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>flowInfo_%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <logger level="info" additivity="false" name="com.fys.handler.FlowManagerHandler">
        <appender-ref ref="flowInfo"/>
    </logger>

    <!--输出除流量统计外的所有日志-->
    <appender name="server_debug_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${filePattern}</pattern>
        </encoder>
        <file>server_debug_log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>server_debug_log_%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <root level="debug">
        <appender-ref ref="server_debug_log"/>
    </root>
</configuration>