<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="consolePattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %C-%m%n"/>
    <property name="filePattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %C-%m%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${consolePattern}</Pattern>
        </encoder>
    </appender>
    <appender name="server_info_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${filePattern}</pattern>
        </encoder>
        <file>server_info_log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>server_info_log_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="server_info_log"/>
    </root>
</configuration>