<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="consolePattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %C-%m%n"/>
    <property name="filePattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %C-%m%n"/>

    <!--输出info级别的日志到控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${consolePattern}</Pattern>
        </encoder>
    </appender>
    <appender name="client_info_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${filePattern}</pattern>
        </encoder>
        <file>client_info_log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>client_info_log_%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="com" level="debug" additivity="true">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="client_info_log"/>
    </logger>


    <appender name="client_debug_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${filePattern}</pattern>
        </encoder>
        <file>client_debug_log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>client_debug_log_%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="debug">
        <appender-ref ref="client_debug_log"/>
    </root>

</configuration>